contourpy==1.1.0
cycler==0.11.0
docstring-parser==0.15
fonttools==4.42.0
imageio==2.31.1
importlib-resources==6.0.1
kiwisolver==1.4.4
lazy_loader==0.3
magicgui==0.7.2
matplotlib==3.7.2
mypy-extensions==1.0.0
nd2reader==3.3.0
networkx==3.1
numpy==1.25.2
opencv-python==4.8.0.76
packaging==23.1
pandas==2.0.3
Pillow==10.0.0
PIMS==0.6.1
psygnal==0.9.1
Pygments==2.16.1
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.4.1
QtPy==2.3.1
scikit-image==0.21.0
scipy==1.11.1
seaborn==0.12.2
six==1.16.0
slicerator==1.1.0
superqt==0.5.0
tifffile==2023.7.18
typing_extensions==4.7.1
tzdata==2023.3
xmltodict==0.13.0
zipp==3.16.2
